@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  /* Colour palette */
  --colour-blue-500: hsl(217, 54%, 11%);
  --colour-blue-400: hsl(216, 50%, 16%);
  --colour-blue-300: hsl(215, 32%, 27%);
  --colour-blue-200: hsl(215, 51%, 70%);
  --colour-blue-100: hsl(178, 100%, 50%);
  --colour-white: hsl(0, 0%, 100%);
  --colour-overlay: hsla(178, 100%, 50%, 0.5);

  /* Font sizes */
  --font-heading: 1.4rem;
  --font-body: 1rem;

  /* Spacing */
  --space-xs: 8px;
  --space-s: 16px;
  --space-m: 24px;

  /* Transitions */
  --transition-link: 0.3s;

  /* Borders */
  --border-divider: 1px solid var(--colour-blue-300);
  --border-avatar: 1px solid var(--colour-white);
  --border-radius-content: 16px;
  --border-radius-full: 99px;
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--colour-blue-500);
  color: var(--colour-white);
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--space-m);
  margin: 0;
}

/* Hide h1 visually */
h1 {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

a {
  color: var(--colour-white);
  text-decoration: none;
  transition: var(--transition-link);
}

a:hover,
a:focus {
  color: var(--colour-blue-100);
}

/* NFT Preview Card */
.card {
  background-color: var(--colour-blue-400);
  color: var(--colour-blue-200);
  width: 100%;
  max-width: 375px;
  padding: var(--space-m);
  border-radius: var(--border-radius-content);
}

/* Preview image */
.preview {
  display: block;
  position: relative;
  width: 100%;
}

.preview .overlay {
  transition: var(--transition-link);
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--colour-overlay);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-content);
}

.preview:hover .overlay,
.preview:focus .overlay {
  opacity: 1;
}

.preview img {
  border-radius: var(--border-radius-content);
  width: 100%;
}

/* Card heading */
.card h2 {
  color: var(--colour-white);
  font-size: var(--font-heading);
  font-weight: 600;
  margin: var(--space-m) 0 var(--space-m) 0;
}

/* Card body text */
.card p {
  font-weight: 300;
  font-size: var(--font-body);
  line-height: 1.5;
}

/* NFT price and sale duration */
.sale-info {
  display: flex;
  justify-content: space-between;
  border-bottom: var(--border-divider);
  padding-bottom: var(--space-s);
  margin-bottom: var(--space-s);
}

.sale-info > div {
  display: flex;
  align-items: center;
}

.price {
  color: var(--colour-blue-100);
  font-size: var(--font-body);
  font-weight: 600;
}

.duration {
  color: var(--colour-blue-200);
  font-size: var(--font-body);
}

.sale-info span {
  padding-left: var(--space-xs);
}

/* Card footer (NFT creator and avatar) */
.avatar {
  width: 32px;
  border: var(--border-avatar);
  border-radius: 99px;
}

.creator {
  display: flex;
  align-items: center;
}

.creator span {
  margin-left: var(--space-s);
}

/* Stuff at the bottom */
.attribution {
  padding-top: var(--space-m);
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1280px) {
  /* Card body text */
  .card p {
    line-height: 1.4;
  }

  /* NFT price and sale duration */
  .sale-info {
    padding-bottom: var(--space-m);
    margin-bottom: var(--space-m);
    margin-top: var(--space-m);
  }
}
